:root {
  --white-grey: #f5f6fa;
  --light-grey: #8395a7;
  --medium-grey: #576574;
  --dark-grey: #252A2E;
  --green: #27ae60;
  --purple: #8e44ad;
  --orange: #e67e22;
  --blue: #2980b9;
  --red: #c0392b;
}

html, body {
  width:100%;
  height:100%;
  margin:0;
  font-family:Helvetica;
  font-size:16px;
  font-family: 'Press Start 2P', cursive;
}

body {
  display:grid;
  grid-template-rows: 1fr 15em;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  margin-top:1em;
  background-color: #eee;
  border: 0.3em solid var(--light-grey);
  /* padding-bottom:0.5em; */
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3.5em;
  color: var(--purple);
}

h3 {
  font-size:2em;
  text-align: center;
}

#game-over, #win-banner {
  width: 100%;
  text-align:center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:var(--medium-grey);
}

#game-over button, #win-banner button {
  font-size: 1.3em;
  padding: 0.8em 1.5em;
  background-color: var(--green);
  color: white;
  border-radius: 3px 3px 5px 5px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 3px #1c622c;
}

#game-over button:hover, #win-banner button:hover {
  box-shadow: 0 5px #1c622c;
  text-decoration: none;
}

.hidden {
  display:none; /* hide by default */
}
